@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

}

header {
    background-color: black;
    height: 70px;
}
menu > ul > li {
    display: inline-block;
    float: none;
}
a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    text-align: center;
}